.base {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px 0;
  position: relative;
}

.item {
  display: flex;
  align-items: center;
  gap: 0 8px;
}

.name {
  padding: 16px;
  color: white;
  white-space: nowrap;
  font-weight: 700;
  font-size: 1.125rem;
  background-color: rgb(183, 183, 183);
  position: relative;
}

.name.blue {
  background-color: rgb(35, 148, 218);
}

.name.red {
  background-color: rgb(248, 72, 49);
}

.rootItem .name {
  background-color: white;
  border: 3px dashed #ccc;
  color: black;
}

.editing {
  padding: 16px;
  background-color: white;
  color: black;
  white-space: nowrap;
  outline: none;
  border: none;
  font-size: 1.125rem;
  text-align: center;
  position: relative;
}

.children {
  display: flex;
  gap: 0 32px;
  position: relative;
}

.name::before,
.editWrapper::before,
.name::after,
.editWrapper::after {
  content: "";
  position: absolute;
  height: 32px;
  width: 2px;
  background-color: #ccc;
  left: 50%;
}

.name::before,
.editWrapper::before {
  bottom: 100%;
}

.name::after,
.editWrapper::after {
  top: 100%;
}

.noArrowBefore::before,
.noArrowAfter::after {
  width: 0;
  height: 0;
}

.rootItem .name::after {
  top: calc(100% + 3px);
}

.children::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #ccc;
  top: -32px;
  left: 0;
}
